@use "sass:color";
@use "variables" as *;

/* 기본 버튼 스타일 */
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  transition: $transition-base;

  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    background-color: #abaebd;
    color: #ffffff;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 0 16px;
  color: #ffffff;
  font-size: $font-size-base;
  font-weight: $font-weight-md;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
/* //기본 버튼 스타일 */

/* btn-secondary */
.btn-secondary {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;

  background-color: #707489;

  &:hover {
    background-color: #82869d;
  }
}
/* //btn-secondary */

.btn-primary.p-id {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  background-color: #3e435e;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #3c4973;
  }
}

/* 검색 버튼 */
.btn-search {
  height: 40px;
  text-align: center;
  background-color: #222E77;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: #29378C;
  }
}
/* //검색 버튼 */

/* 삭제 버튼 */
.btn-delete,
.btn-cancel {
  position:relative;
  padding: 8px 16px 8px 33px;
  background-color: #3e435e;

  &::before {
    content: "";
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    width: 16px;
    height: 16px;
    background: url(../assets/icons/ico_delete.svg) no-repeat center / 11px auto;
    aspect-ratio: 1/1;
  }
  &:hover {
    background-color: #3c4973;
  }
}
.btn-delete.sm,
.btn-cancel.sm {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;

  &::before {
    background: none;
  }
}

.btn-delete.md,
.btn-cancel.md {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;

  &::before {
    background: none;
  }
}
/* //삭제 버튼 */

/* 보기 버튼 */
.btn-view {
  height: 32px;
  line-height: 32px;
  background-color: #3e435e;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #3c4973;
  }
}
/* //보기 버튼 */

/* 등록 버튼 + 코드관리 모달 등록 버튼 + 기계 등록 버튼 */
.btn-register {
  position: relative;
  padding: 8px 16px 8px 35px;
  background-color: #222E77;

  &::before {
    content: "";
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 13px;
    height: 13px;
    background: url(../assets/icons/ico_regist.svg) no-repeat center / 13px auto;
    aspect-ratio: 1/1;
  }

  &:hover {
    background-color: #29378C;
  }
}
.btn-register.sm {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  
  &::before {
    background: none;
  }
}
.btn-register.md {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;

  &::before {
    background: none;
  }
}

.btn-regist {
  background-color: #222E77;

  &:hover {
    background-color: #29378C;
  }

  &::before {
    background: none;
  }
}

.btn-regist.sm {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
/* //등록 버튼 + 코드관리 모달 등록 버튼 + 기계 등록 버튼 */

/* 수정 버튼 */
.btn-edit,
.btn-update {
  position: relative;
  padding: 8px 16px 8px 35px;
  background-color: #222e77;

  &::before {
    content: "";
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 13px;
    height: 13px;
    background: url(../assets/icons/ico_edit.svg) no-repeat center / 13px auto;
    aspect-ratio: 1/1;
  }

  &:hover {
    background-color: #29378c;
  }
}
.btn-edit.sm,
.btn-update.sm {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;

  &::before {
    background: none;
  }
}
/* //수정 버튼 */

/* 신규, 다건등록 버튼 */
.btn-create,
.btn-multi-register {
  position: relative;
  padding: 8px 16px 8px 35px;
  background-color: #222e77;

  &::before {
    content: "";
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 13px;
    height: 13px;
    background: url(../assets/icons/ico_regist.svg) no-repeat center / 13px auto;
    aspect-ratio: 1/1;
  }

  &:hover {
    background-color: #29378c;
  }
}
/* //신규, 다건등록 버튼 */

/* 코드 관리 버튼 */
.btn-code-management {
  position: relative;
  padding: 8px 16px 8px 35px;
  background-color: #3e435e;
  color: #ffffff;

  &::before {
    content: "";
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 16px;
    height: 16px;
    background: url(../assets/icons/ico_code-sett.svg) no-repeat center / 16px auto;
    aspect-ratio: 1/1;
  }

  &:hover {
    background-color: #3c4973;
  }
}
/* //코드 관리 버튼 */

/* 파일 선택 버튼 */
.btn-file {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  background: #3e435e;

  &:hover {
    background: #3c4973;
  }

  input[type="file"] {
    display: none;
  }
}

.btn-file.sm {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
}

.btn-file.error {
  background-color: #dc3545;
  border-color: #dc3545;
}
/* //파일 선택 버튼 */

/* 다운로드 버튼 */
.download-btn {
  position: relative;
  display: block;
  width: 44px;
  height: 40px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #3e435e;

  .ico-download {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background: url(../assets/icons/ico_download.svg) no-repeat center / 24px auto;
  }

  &:hover {
    background-color: #3c4973;
  }
}

.download-btn.sm {
  width: 36px;
  height: 32px;
}
/* //다운로드 버튼 */

/* 저장 버튼 */
.btn-save {
  background-color: #0863e2;

  &:hover {
    background-color: #0067f5;
  }
}

.btn-save.sm {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}
/* //저장 버튼 */

/* 추가 버튼 */
.btn-add {
  background-color: #222e77;

  &:hover {
    background-color: #29378c;
  }
}

.btn-add.sm {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}
/* //추가 버튼 */

.btn-excel {
  height: 40px;
  background: #222e77;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  &:hover {
    background: #29378c;
  }

  &:active {
    background: #29378c;
  }

  @media (max-width: 768px) {
    padding: 4px 8px;
    font-size: 12px;
  }
}

/* ···버튼 */
.btn-ellipsis {
  width: 44px;
  height: 40px;
  background: url(../assets/icons/ico_ellipsis-btn.svg) no-repeat center / 18px auto;
  background-color: #3e435e;

  &:hover,
  &:active {
    background-color: #3c4973;
  }
}
/* //···버튼 */

.btn-close {
  width: 24px;
  height: 24px;
  background: url(../assets/icons/ico_modal-close.svg) no-repeat center / 18px auto;
}