@use "sass:color";
@use "variables" as *;

input,
select,
textarea {
  outline: none;
  border: 1px solid $border-form;
}

dl.column-search {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(
    auto-fill,
    minmax(50px, 1fr) minmax(200px, 3fr)
  );
  gap: 10px 5px;
  width: 100%;

  /* flow items by row so dt and dd pair correctly */
  grid-auto-flow: row;

  > dt {
    display: flex;
    align-items: center;
    font-weight: bold;

    // &:nth-child(3n+1) {
    //   grid-column: 1;
    // }
    // &:nth-child(3n+3) {
    //   grid-column: 3;
    // }
    &:has(+ dd.extend-all) {
      grid-column: 1;
    }
  }
  > dd {
    display: flex;
    align-items: center;
    gap: 10px;
    /* allow dd to shrink and respect grid cell */
    width: auto;

    &.extend-all {
      grid-column: 2 / -1;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      flex: 1;
      padding: 8px;
      border: 1px solid $border-form;
      border-radius: 4px;
      font-size: 14px;
      box-sizing: border-box;
    }

    button {
      display: inline-block;
      padding: 8px 16px;
      background-color: $background-blue;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: color.scale($background-light, $lightness: -10%);
        border-color: color.scale($border-form, $lightness: -10%);
      }
    }
  }
}

.criteria,
.search-bar {
  display: flex;
  gap: 10px;
}

.group-form {
  display: flex;
  align-items: center;
  gap: 10px;
  label {
    flex: 0 0 auto;
    font-size: 14px;
    color: #333;
    &.label-search {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-indent: -99999px;
      background: transparent url("../assets/images/common/ico_search.svg")
        no-repeat center center;
    }
  }
  .form-item {
    flex: 1;
    display: flex;
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      width: 100%;
      height: 40px;
      padding: 8px;
      border: 1px solid #e7e6ed;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      box-sizing: border-box;
    }
    &::placeholder {
      color: #767676;
      font-size: 15px;
      font-weight: $font-weight-normal;
    }
  }

  [class*="btn-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: $border-radius-sm;
    font-size: 14px;
    color: #ffffff;
    background: #222E77;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: #29378C;
      border-color: color.scale($border-form, $lightness: -10%);
    }
  }
}

.form-item {
  flex: 1;
}

dl.column-regist {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr) minmax(300px, 2fr)
  );
  gap: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  dt {
    font-weight: bold;
    margin-bottom: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    &.essential {
      &:after {
        content: "*";
        color: red;
        margin-left: 4px;
      }
    }
  }

  dd {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      flex: 1;
      padding: 8px;
      border: 1px solid $border-form;
      border-radius: 4px;
      font-size: 14px;
      box-sizing: border-box;
    }
    button {
      display: inline-block;
      padding: 8px 16px;
      background-color: $background-blue;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: color.scale($background-light, $lightness: -10%);
        border-color: color.scale($border-form, $lightness: -10%);
      }
    }
  }
}

input[type="file"] {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px;
  padding-left: 105px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background: url("../assets/images/common/ico_file.svg") no-repeat right center;
  background-size: 16px;
  cursor: pointer;
  appearance: none;
  &:hover {
    background-color: color.scale($background-light, $lightness: 10%);
  }
  &::file-selector-button {
    display: none;
  }
  &::before {
    content: "파일 선택";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 88px;
    padding: 8px 16px;
    background-color: $background-blue;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 98px);
    height: 100%;
    border: 1px solid $border-form;
    border-radius: $border-radius-sm;
    margin-left: 10px;
    color: #666;
  }
  &:focus {
    border-color: $primary-color;
    outline: none;
  }
  &::placeholder {
    color: #767676;
  }
  &::-webkit-file-upload-button {
    display: none;
  }
  &::-webkit-input-placeholder {
    color: #767676;
  }
  &::-moz-placeholder {
    color: #767676;
  }
  &:-ms-input-placeholder {
    color: #767676;
  }
}

.tabs-wrapper {
  flex: 1;
  position: relative;
  padding: 0 30px;
  overflow: hidden;
}
.tabs {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.tabs::-webkit-scrollbar {
  display: none;
}
.btn-scroll {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  z-index: 1;
}
.btn-scroll.left {
  left: 0;
}
.btn-scroll.right {
  right: 0;
}
.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  &.active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
  }
  &.tab-type-1 {
    background: #f8ddb3;
  }
  &.tab-type-2 {
    background: #d3e5f8;
  }
  &.tab-type-3 {
    background: #d1f0c4;
  }
}
.tab-contents {
  overflow: hidden;
}

.filter-select {
  appearance: none;
  height: 40px;
  padding: 8px 32px 8px 12px;
  background-color: #ffffff;
  background-image: url(../assets/icons/ico_select-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px auto;
  border: 1px solid #e7e6ed;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;

  &:focus {
    outline: none;
    border-color: #3b82f6;
    // box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    background-image: url(../assets/icons/ico_select-up.svg);
  }
}