
input,
select,
textarea {
  outline: none;
}


.criteria,
.search-bar {
 display: flex;
 gap: 10px;
}

.group-form {
 display: flex;
 align-items: center;
 gap: 10px;
 label {
    flex: 0 0 auto;
    font-size: 14px;
    color: #333;
    margin-right: 8px;
    &.label-search {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-indent: -99999px;
      background: transparent url('../assets/images/common/ico_search.svg') no-repeat center center;
    }
 }
 .form-item {
   flex: 1;
   display: flex;
   input[type="text"],
   input[type="number"],
   input[type="email"], 
   input[type="password"],
   textarea,
   select {
    width: 100%;
    padding: 8px;
    border: 1px solid $border-form;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
   }
 }

 [class*="btn-"] {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   padding: 0 16px;
   border-radius: $border-radius-sm;
   font-size: 14px;
   color: #ffffff;
   background: $background-blue;
   cursor: pointer;
   transition: background-color 0.3s, border-color 0.3s;

   &:hover {
     background-color: darken($background-light, 10%);
     border-color: darken($border-form, 10%);
   }
 }
}

.form-item {
 flex: 1;
}









dl.column-regist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) minmax(300px, 2fr));
  gap: 10px;
  
  dt {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  dd {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
  
    input[type="text"],
    input[type="number"],
    input[type="email"], 
    input[type="password"],
    textarea,
    select {
      flex: 1;
      padding: 8px;
      border: 1px solid $border-form;
      border-radius: 4px;
      font-size: 14px;
      box-sizing: border-box;
    }
    button {
      display: inline-block;
      padding: 8px 16px;
      background-color: $background-blue;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: darken($background-light, 10%);
        border-color: darken($border-form, 10%);
      }
    }
  }
}



input[type="file"] {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px;
  padding-left: 105px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background: url('../assets/images/common/ico_file.svg') no-repeat right center;
  background-size: 16px;
  cursor: pointer;
  appearance: none;
  &:hover {
    background-color: lighten($background-light, 10%);
  }
  &::file-selector-button {
    display: none;
  }
  &::before {
    content: '파일 선택';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 88px;
    padding: 8px 16px;
    background-color: $background-blue;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 98px);
    height: 100%;
    border: 1px solid $border-form;
    border-radius: $border-radius-sm;
    margin-left: 10px;
    color: #666;
  }
  &:focus {
    border-color: $primary-color;
    outline: none;
  }
  &::placeholder {
    color: #999;
  }
  &::-webkit-file-upload-button {
    display: none;
  }
  &::-webkit-input-placeholder {
    color: #999;
  }
  &::-moz-placeholder {
    color: #999;
  }
  &:-ms-input-placeholder {
    color: #999;
  }
}